
<div class="auth-card">
  <h2>{{ isLoginMode=== 'login' ? 'Login' : 'Sign Up' }}</h2>
  <form [formGroup]="loginForm" (ngSubmit)="submit()">

    <!-- Username only on Sign-up -->
    <div class="field" *ngIf="isLoginMode== 'signup'">
      <label>Username</label>
      <input type="text" formControlName="username" />
      <p class="error" *ngIf="loginForm.get('username')?.touched && loginForm.get('username')?.hasError('required')">
        Username is required
      </p>
    </div>

    <!-- Email -->
    <div class="field">
      <label>Email</label>
      <input type="email" formControlName="email" />
      <p class="error" *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.hasError('required')">
        Email is required
      </p>
      <p class="error" *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.hasError('email')">
        Enter a valid email
      </p>
    </div>

    <!-- Password -->
    <div class="field">
      <label>Password</label>
      <input type="password" formControlName="password" />
      <p class="error" *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.hasError('required')">
        Password is required
      </p>
    </div>

    <!-- Server-side error -->
    <p class="error server-error" *ngIf="error">{{ error }}</p>

    <!-- <button type="submit" class="btn primary">
      {{ isLoginMode ? 'Login' : 'Register' }}
    </button> -->
    <button type="submit" class="btn-primary" >
      {{ isLoginMode === 'login' ? 'Login' : 'Sign Up' }}
    </button>
  </form>

  <!-- <p class="toggle">
    {{ isLoginMode=== 'login' ? 'New user?' : 'Already have an account?' }}
    <a (click)="toggleMode()">{{ isLoginMode ? 'Sign Up' : 'Login' }}</a>
  </p> -->
  <p class="toggle">
  {{ isLoginMode === 'login' ? 'New user?' : 'Already have an account?' }}
  <a (click)="toggleMode(isLoginMode === 'login' ? 'signup' : 'login')">
    {{ isLoginMode === 'login' ? 'Sign Up' : 'Login' }}
  </a>
</p>
</div>
